@import '../../../scss/index.scss';

.siteWeb-form{
    margin:20px;


    form-input{
        margin-bottom: 20px !important;

        &.error{
            border: 1px solid $danger !important
        }
    }
}